body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,fieldset,lengend,button,input,textarea,th,td{margin:0;padding:0}
body,button,input,select,textarea,th{font:12px/1.5 '\5FAE\8F6F\96C5\9ED1',Tahoma,"hiragino sans gb",Helvetica,Arial}
h1,h2,h3,h4,h5,h6{font-size:100%}
ul,ol,li{list-style:none}
legend{color:#000}
fieldset,img{border:0}
button,input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0}
em{font-style:normal}
a{text-decoration:none;color:#333}
a:hover{text-decoration:underline}
body{color:#333;background:#fff}
section,header,article,aside{display:block}
html,body{width:100%;overflow-x:hidden}
::-webkit-scrollbar{width:12px;height:12px}
::-webkit-scrollbar-button:vertical{display:none}
::-webkit-scrollbar-track:vertical{background-color:black}
::-webkit-scrollbar-track-piece{background:#FFF}
::-webkit-scrollbar-thumb:vertical{background-color:#8E8E8E;border-radius:1px}
::-webkit-scrollbar-thumb:vertical:hover{background-color:#3B3B3B}
::-webkit-scrollbar-corner:vertical{background-color:#535353}
::-webkit-scrollbar-resizer:vertical{background-color:#FF6E00}
a{color:#ee4900}
a:hover{text-decoration:none;color:#f3711f}
.clearfix{*zoom:1}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}
.mod_header{width:100%;height:60px;background:#20252b;border-bottom:2px solid #ff5f19;position:fixed;left:0;z-index:9}
.mod_header .inner{position:relative;width:980px;min-height:60px;margin:0 auto}
.mod_header h1{position:relative;float:left;height:60px;width:173px;text-indent:-9999px}
.ico_logo{position:absolute;left:0;top:8px;width:117px;height:45px;background:url(img/logo.png) no-repeat 0 0}
.mod_nav{height:60px;overflow:hidden;float:left;border-right:1px solid #474748}
.mod_nav li{float:left;border-left:1px solid #474748}
.mod_nav li a{display:block;height:60px;width:150px;border-left:1px solid #000;text-align:center;line-height:60px;font-size:14px;font-family:'\5FAE\8F6F\96C5\9ED1';color:#fff}
.mod_nav li a.on{background:#ef4900}
.mod_mini_nav{position:absolute;right:0;color:#fff;text-align:right}
.mod_mini_nav p:nth-of-type(2){padding-top:15px}
.mod_form{width:100%;clear:both;background:#34393e}
.mod_footer{width:100%;height:30px;line-height:30px;margin-top:30px;background:#34393E;color:#787878;overflow:hidden}
.mod_footer>div{position:relative;width:980px;margin:0 auto}
.mod_footer p{float:left;padding-right:5px}
.mod_footer .opt a{margin:0 5px}
.mod_footer .support{position:absolute;right:0;padding:0}
.mod_footer a{color:#787878;text-decoration:underline}
.mod_footer a:hover{color:#fff}
.pop_msg{position:fixed;left:50%;top:50%;margin-top:-15px;height:30px;line-height:30px;padding:0 15px;font-size:14px;font-weight:bold;border:3px solid #333;background:#EF4900;box-shadow:1px 1px 8px #000;display:none;z-index:100000;color:#fff}
.pagelist{text-align:center;padding:10px 0}
.pagelist a{display:inline-block;margin:0 2px;height:26px;line-height:26px;padding:0 10px;border:1px solid #ddd;background:#f7f7f7;color:#000}
.pagelist .cur{background:#EF4900;color:#fff}
.pop_dialog{position:fixed;top:50%;left:50%;border:2px solid #000;background:#fff;z-index:100;box-shadow:-1px 1px 10px #333}
.pop_dialog.downs{border:none}
.pop_dialog .hd{padding:0 10px;position:relative}
.pop_dialog .hd h3{height:26px;line-height:26px;font-weight:normal;display:none}
.pop_dialog .inner{padding:20px}
.pop_dialog .inner h4{font-size:14px}
.pop_dialog .inner p{padding:5px 10px 0 0}
.pop_dialog .inner .big{position:relative;padding-left:80px}
.pop_dialog .pop_close{position:absolute;right:-8px;top:-8px;width:15px;height:15px;overflow:hidden;background:#000;color:#fff;text-align:center;line-height:12px}
.pop_dialog.downs .pop_close{top:0;right:15px;width:22px;height:22px;line-height:100px;background:url(img/close.png) no-repeat 0 0}
.pop_dialog .pop_close:hover{background-color:#EE4900}
.icon_success,.icon_error{position:absolute;left:20px;top:3px;width:42px;height:42px;background:url(img/icon.png) no-repeat 0 0}
.icon_error{background-position:0 -43px}
.pop_dialog .inner .small{position:relative;padding-left:80px}
.pop_dialog .inner .small .icon_success{top:-10px}
.pop_mask{display:none;position:fixed;background:#000;top:0;filter:alpha(opacity=40);opacity:.4;width:100%;height:100%;z-index:10}
.down{width:625px;height:237px;background:url(img/down.png) no-repeat 0 0;position:relative;margin:60px auto}
.down a{display:block;position:absolute;width:102px;height:156px;line-height:1000px;overflow:hidden;top:85px}
.down .down_chrome{left:55px}
.down .down_safari{left:260px}
.down .down_firefox{left:472px}
body{background:#f9f9f9}
.mod_header .inner{width:992px}
.wrap{padding-top:10px;position:absolute;top:63px;bottom:0;width:100%;background:#fff}
.mod_side{float:left;width:448px;overflow:hidden}
.canvas{position:absolute;top:10px;bottom:10px;left:390px;right:10px;background:#20252B}
.mod_tab{float:left;border-top:1px solid #474748;background:#20252b;color:#ccc}
.mod_tab li{position:relative;padding:5px;width:15px;border-bottom:1px solid #474748;text-align:center;cursor:pointer}
.mod_tab li.current{background:#ec4800}
.mod_tab_content{float:left;width:350px;overflow:hidden;border:1px solid #474748;border-radius:0 5px 5px;background:#20252b;padding-bottom:10px;color:#888}
.mod_tab li .line{display:none;position:absolute;top:0;bottom:0;width:2px;right:-1px}
.mod_tab .current .line{display:block}
.mod_input, .animation_box input[type='text']{width:30px;height:16px;line-height:16px;text-align:center;border:1px solid #444;background:#20252b;vertical-align:middle;margin-right:5px;color:#999}
.animation_box input[type='text']{width:auto}
.mod_input:hover,.animation_box input[type='text']:hover{border-color:#f3711f}
.mod_input.more{width:120px}
.item{display:none}
.item li{border-bottom:1px solid #34363a;padding:5px 10px;overflow:hidden}
.item li.mode_3d{display:none}
label{display:inline-block;width:55px;text-align:right;padding-right:5px}
.button,.button_pre,.butt{display:inline-block;height:20px;line-height:20px;border-radius:3px;padding:0 5px;border:1px solid #000;background-color:#ececec;background-image:-webkit-gradient(linear,0 0,0 100%,from(#3a4148),to(#222c39));background-clip:padding-box;text-shadow:1px 1px 0 #000;cursor:pointer;margin-right:5px;background:-moz-linear-gradient(#3a4148,#222c39)}
.btn_box{padding:0;overflow-y:auto}
.btn_box h3{border-bottom:1px solid #3e3f41;padding:0 10px 10px;margin-top:10px}
.butt_list{padding:10px 10px 0 10px}
.butt_list a{color:#888}
.btn_box p{padding:10px}
.butt_list .butt{margin-bottom:5px}
.mod_ope{padding:10px;text-align:center;border-bottom:1px solid #34363a}
.mod_d{padding:10px;border-bottom:1px solid #34363a}
.icon_radio{display:inline-block;width:15px;height:15px;border:1px solid #000;background-image:-webkit-gradient(linear,0 0,0 100%,from(#333),to(#474748));background:-moz-linear-gradient(#333,#474748);border-radius:15px;position:relative;top:3px;margin:0 5px 0 0;cursor:pointer}
.m_3d{margin-left:10px}
.icon_radio.checked{background-image:-webkit-gradient(linear,0 0,0 100%,from(#ec4800),to(#dc1100));background:-moz-linear-gradient(#ec4800,#dc1100)}
.scroll_box{float:left;position:relative;height:8px;width:200px;background-image:-webkit-gradient(linear,0 0,0 100%,from(#171b1f),to(#20252b));background:-moz-linear-gradient(#171b1f,#20252b);background-clip:padding-box;border:1px solid #000;top:4px;border-radius:8px}
.scroll_bar{width:14px;height:14px;position:absolute;top:-3px;background:#ee590f;border-radius:14px;cursor:pointer}
.scroll_bar.move{background:#9c9}
.mod_fn{float:left;width:125px}
.mod_fn_2{text-align:center;font-weight:bold;border-bottom:1px solid #34363a;background:#34383e;padding:5px 0}
.mod_matrix_box{border:1px solid #34363a;margin:5px 0}
.mod_matrix,.mod_matrix ul{overflow:hidden;width:332px}
.mod_matrix li{float:left;width:109px;padding:5px 0;text-align:center}
.mod_matrix ul li:nth-child(1),.mod_matrix ul li:nth-child(2),.mod_matrix ul li:nth-child(4),.mod_matrix ul li:nth-child(5),.mod_matrix ul li:nth-child(7),.mod_matrix ul li:nth-child(8){border-right:1px solid #34363a}
.mod_matrix ul li:nth-child(4),.mod_matrix ul li:nth-child(5),.mod_matrix ul li:nth-child(6){border-bottom:none}
.mod_matrix li span{display:inline-block;width:60px;text-align:right;padding-right:5px}
.transition_box .last,.animation_box .last{border-bottom:none}
.mod_ease{float:left;width:55px;padding-right:5px;text-align:right}
.ease_list{padding-left:60px}
.ease_list .button{margin-bottom:5px}
.ease_list .checked,.butt:hover{background:#ec4800;color:#fff;text-shadow:none}
#animation{position:absolute;left:50%;top:50%;margin:-150px 0 0 -150px;width:300px;height:300px;background:#fff url(img/ecd-logo.png) no-repeat 0 0;border:1px solid #fff;background-size:cover}
.origin{position:absolute;overflow:hidden;width:30px;height:30px;background:rgba(0,0,0,.41);border-radius:30px;left:135px;top:135px;cursor:move}
.hidden{display:none}
.show_code{line-height:20px;font-size:14px;color:#F60;padding:10px 10px 0;border-top:1px solid #3e3f41;max-height:300px;overflow-y:auto}
#mod_play_ani_pre{clear:both;overflow:hidden}
#mod_play_ani_pre span{float:left;margin-top:10px}
#ani{position:fixed;bottom:10px;right:10px;left:390px;border:3px solid rgba(0,0,0,.7);background:rgba(0,0,0,.3);padding:10px 0;color:#888}
#ani .pro_name{position:absolute;top:0;left:0;line-height:20px;padding-right:10px;width:100px;text-align:right;overflow:hidden}
#ani li{height:25px;clear:both;padding-right:30px;position:relative}
#ani .z_box{position:relative;top:6px;height:8px;background-image:-webkit-gradient(linear,0 0,0 100%,from(#171b1f),to(#20252b));background-clip:padding-box;border:1px solid #000;border-radius:8px;margin-left:110px}
#ani .z_box .z,#ani .z_box .z_move{position:absolute;width:14px;height:14px;background:#ee590f;border-radius:14px;cursor:pointer;top:-3px;line-height:14px}
#ani .z_box .first{left:0}
#ani .z_box .last{right:0}
#ani .del_z{position:absolute;right:10px;line-height:20px;top:0}
#ani .value{position:absolute;background:#222;padding:3px;top:-72px;border-radius:5px;left:-76px;display:none;width:160px;color:#999;box-shadow:1px 1px 8px #444}
#ani .value input{width:45px;height:16px;border:1px solid #444;vertical-align:middle;background:#333;color:#999;position:relative;z-index:10;margin:5px 0 5px 3px}
#ani .first .value,#ani .last .value{width:110px;left:-52px;top:-58px}
#ani .value:after{content:'';position:absolute;width:10px;height:10px;background:#222;bottom:-5px;left:50%;margin-left:-5px;-webkit-transform:rotate(315deg);-webkit-transform-origin:center center;-moz-transform:rotate(315deg);-moz-transform-origin:center center}
.btn_del{position:absolute;bottom:9px;right:22px;padding:0 5px;height:16px;background:#fff;color:#f60;text-align:center;line-height:14px;overflow:hidden;border-radius:3px;display:none}
.value:hover .btn_del{display:block}
.intro{padding-left:5px;color:#999}
.copy{position:relative}
.copy .clipboardswf{position:absolute;top:0;left:0;width:100%;height:100%;cursor:pointer}
.gui_success{position:fixed;left:50%;top:50%;margin:-22px 0 0 -62px;width:120px;height:40px;line-height:40px;text-align:center;font-size:14px;font-weight:bold;background:#fff;border:2px solid #666;border-radius:2px;box-shadow:2px 2px 8px #333;color:#EF4900}
#time_line{position:absolute;width:1px;background:red;top:0;bottom:0;left:110px;z-index:10000}
#time_line:after{content:'\20';width:0;height:0;overflow:hidden;font-size:0;display:block;border-width:6px;border-color:red transparent transparent transparent;border-style:solid;position:absolute;left:50%;top:-3px;margin-left:-7px}
.add_pro{padding-top:10px}
#mod_play_ani_pre{padding:0}
.mod_cubic_dialog{position:absolute;width:300px;height:500px;border:5px solid #ddd;background:#fff;z-index:10;left:360px;top:190px;box-shadow:1px 1px 10px #000;display:none}
.mod_cubic_dialog .hd h2{line-height:25px;padding:0 10px;border-bottom:1px solid #ddd}
.mod_cubic_dialog .hd a{position:absolute;right:10px;top:5px}
.tis{position:absolute;right:10px;top:10px;font-size:30px;color:rgba(255,255,255,.2)}
.mod_drag_img{position:absolute}
.pop_show_code{display:none;position:fixed;left:50%;top:50%;margin:-250px 0 0 -250px;border:5px solid #666;width:500px;min-height:400px;background:#20252b;box-shadow:2px 2px 8px #333;color:#F90;z-index:100}
#close_pop{position:absolute;width:20px;height:20px;top:-15px;right:-15px;border:5px solid #666;background:#20252b;border-radius:20px;text-align:center;line-height:20px;font-size:14px;color:#999;font-weight:bold}
.pop_show_code .inner{padding:10px 20px;max-height:400px;overflow:auto}
.pop_show_code .button{margin:10px 0 10px 20px}
#CssGaga{content:"20130105173110,193"}